#Skills {
    background-color: white;
    color: black;
}

.skills-header {
    margin: 24px 0 16px 16px;
    padding-right: 0px
}

li {
    font-style: inherit;
    list-style-type: none;
}

.skills-sub-header {
    margin: 16px 0 16px 16px;
    font-size: 24px;
}

.skill-list {
    padding-left: 12px;
    margin-left: 16px;
}