#Project {
    background-color: white;
    color: black;
    padding: 0;
}

.projects-header {
    width: 100px;
    margin: 0 0 16px 16px;
}

.projects-header-wrapper {
    width: 90%;
}

.header-wrapper {
    background-color: white;
}

.card-wrapper {
    width: 90%;
}

.project-card {
    width: 25%;
    margin: 16px;
}

h2 {
    color: black;
}

.project-link {
    color: inherit;
}

@media screen and (max-width: 992px) {
    .projects-header {
        margin-top: 80px;
    }
}

@media screen and (max-width: 680px) {
    .projects-header {
        margin-top: 150px;
    }
}

@media screen and (max-width: 480px) {
    .projects-header {
        margin-top: 375px;
    }
}