a {
    text-decoration: none;
}

.header-home {
    text-decoration: none;
    color: white;
    font-size: 40px;
}

.icon-top-bar {
    background: url('../../assets/logo.png');
    height: 40px;
    width: 40px;
    display: block;
    margin: 0 auto;
    /* Other styles here */
}

.header-home-text{
    font-style: inherit;
    font-size: 16px;
}

.icon-transition {
    transition-property: color;
    transition-duration: 5s;
}

.top-bar--hidden {
    display: none;
}

.top-bar--Show {
    display: block;
    color: white;
}
