/* MAIN------------------------------------------CSS */



/* MAIN------------------------------------------NAVIGATION */
.navbar {
    background-color: black;
    height: 10%;
}

.nav-bar--hidden {
    background-color: rgba(0,0,0,0.5);
    color: 	rgba(255,255,255, 1);
}

.nav-link {
    color: inherit;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

/* MAIN-------------------------------------------------HEADER */
.header-link {
    text-decoration: none;
}

.header-home {
    text-decoration: none;
    color: white;
    font-size: 40px;
}

.icon-top-bar {
    background: url('../../assets/logo.png');
    height: 40px;
    width: 40px;
    display: block;
    margin: 0 auto;
    /* Other styles here */
}

.header-home-text{
    font-style: inherit;
    font-size: 16px;
}

.icon-transition {
    transition-property: color;
    transition-duration: 5s;
}

.top-bar--hidden {
    display: none;
}

.top-bar--Show {
    display: block;
    color: white;
}


/* MAIN -------------------------------------------------ABOUT */

#About {
    margin-top: 150px;
    background-color: white;
    color: black;
    height: 300px;
    width: 100%
}

.about-container {
    padding: 24px 0;
}

.profilePic {
    height: 320px;
    border-radius: 5px;
    margin: 0 auto;
}

.tech-list {
    list-style-type: none;
}

.about-margin {
    margin: 0 16px;
}

.about-header {
    margin-top: 50px;
    margin-bottom: 24px;
}

/* MAIN --------------------------------------------PROJECTS */

#Project {
    background-color: white;
    color: black;
    padding: 0;
}

.projects-header {
    width: 100px;
    margin: 0 0 16px 16px;
}

.projects-margin {
    margin: 0 24px;
}
.projects-header-wrapper {
    width: 90%;
}

.header-wrapper {
    background-color: white;
}

.card-wrapper {
    width: 90%;
}

.project-card {
    width: 25%;
    margin: 16px;
}

h2 {
    color: black;
}

.project-link {
    color: inherit;
}

/* MEDIA */

/* MEDIA-------------------------------------------------NAVBAR*/
@media screen and (max-width: 550) {
    .offcanvas-body {
        color: black;
    }

    .nav-color-shift {
        color: black;
    }
    
    .nav-item {
        color: black;
    }
    
    .nav-link {
        color: black;
    }

}

/* MEDIA ------------------------------------------LANDING */

#Landing {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    background-color: black;
    color: white;
    
}

#Landing h2 {
    color: white;
    background-color: black;
    margin: 0;
    padding-bottom: 24px;
}

#Landing .sub-header-wrapper {
    margin-bottom: 16px;
}

.btn-anchor {
    color: white;
    width: 20%;
    margin: 0 auto;
}

.btn {
    margin-top: 16px;
    color: white;
    padding: 16px 0;
    margin: 0 auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
}

.btn:hover {
    background-color: white;
    color: Black;
}

.btn-text {
    margin: 8px
}


/* MEDIA ------------------------------------------ABOUT */

@media screen and (max-width: 992px) {
    .about-content {
        margin-bottom: 50px;
        width: 80%;
    }
}

/* MAIN --------------------------------------------PROJECTS */

@media screen and (max-width: 992px) {
    .projects-header {
        margin-top: 80px;
    }
}

@media screen and (max-width: 680px) {
    .projects-header {
        margin-top: 150px;
    }
}

@media screen and (max-width: 480px) {
    .projects-header {
        margin-top: 375px;
    }
}