/* MAIN------------------------------------------CSS */
* {
    line-height: 1.5rem;
}
/* MAIN-------------------------------------------GRID */

/*  change to template area*/

.navbar-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto;
    grid-template-areas:
    " nav-logo . nav-content "
      ;
}

.nav-logo{
    grid-area: nav-logo;
    margin-left: 16px;
}

.nav-content {
    grid-area: nav-content;
}

.grid-container{
        margin: 0 auto;
        width: 70%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 100px auto;
        grid-template-areas:
        " hd "
        " main "
          ;
}

.grid-item-header {
    grid-area: hd;
}

.grid-item-main {
    grid-area: main;
}


/* MAIN------------------------------------------NAVIGATION */

.navbar {
    background-color: black;
    height: 10%;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 100;
    transition: background-color .3s;
}

.nav-bar--hidden {
    background-color: rgba(0,0,0,0.5);
    color: 	rgba(255,255,255, 1);
    transition: background-color .3s;
}

.nav-link {
    color: inherit;
}

.navbar-list {
    float: right;
    padding: 8px;
}

.nav-list-ul {
margin-right: 16px;
}

/* MAIN-------------------------------------------------HEADER */

.header-link {
    text-decoration: none;
}

.header-home {
    text-decoration: none;
    color: white;
    font-size: 40px;
}

.icon-top-bar {
    background: url('../assets/logo.png');
    height: 40px;
    width: 40px;
    display: block;
    margin-left: 32px;
}

.header-home-text{
    font-style: inherit;
    font-size: 16px;
}

.icon-transition {
   color: black;
   transition: color .5s ;
}

.top-bar--hidden {
    display: none;
}

.top-bar--Show {
    display: block;
    color: white;
}

/* MAIN --------------------------------------------------HOME */

#Home {
    padding-top: 200px;
    padding-bottom: 150px;
    margin-bottom: 100px;
    background-color: black;
    position: relative;
}

.page-head {
    text-align: center;
}

.sub-header {
    display: block;
    text-align: center;
}

.profilePic {
    height: 320px;
    border-radius: 5px;
    margin: 0 auto;
}

.tech-list {
    list-style-type: none;
}

.icon {
    background: url('../assets/logo.png');
    height: 150px;
    width: 150px;
    display: block;
    margin: 0 auto;
    /* Other styles here */
}

body {
    background: white;
  }
  
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin-top: 125px;
  }
  
  .m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
  
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
  
    width: 16px;
    height: 16px;
  }
  
  .first {
    margin-top: 1px;
  }
  
  .first,
  .second,
  .third {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  }
  
  .first {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -webkit-animation-direction: alternate;
  
    animation-direction: alternate;
    animation-delay: alternate;
  }
  
  .second {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-direction: alternate;
  
    animation-delay: 0.2s;
    animation-direction: alternate;
  
    margin-top: -6px;
  }
  
  .third {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -webkit-animation-direction: alternate;
  
    animation-delay: 0.3s;
    animation-direction: alternate;
  
    margin-top: -6px;
  }
  
  .mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
  }
  
  .wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
  
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
  }
  
  @-webkit-keyframes mouse-wheel {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  
  @-webkit-keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  @-o-keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

/* MAIN -------------------------------------------------ABOUT */

#About {
    margin-top: 150px;
    background-color: white;
    color: black;
    height: 300px;
}

.about-container {
    padding: 24px 0;
}

.profilePic {
    height: 320px;
    border-radius: 5px;
    margin: 0 auto;
}

.tech-list {
    list-style-type: none;
}

.about-margin {
    margin: 0 16px;
}

.about-header {
    margin-top: 50px;
    margin-bottom: 24px;
}

/* MAIN --------------------------------------------PROJECTS */

#Project {
    background-color: white;
    color: black;
    padding: 0;
}

.projects-header {
    margin: 0 0 16px 16px;
    margin-top: 50px;
    margin-bottom: 24px;
}

.projects-header-wrapper {
    width: 90%;
}

.header-wrapper {
    background-color: white;
}

.card-wrapper {
    width: 90%;
}

.card-title {
    margin: 0;
}

.project-card {
    display: block;
    float: left;
    max-width: 200px;
    margin: 16px;
}

h2 {
    color: black;
}

.project-link {
    color: inherit;
}

/* MAIN ------------------------------------------LANDING */

#Landing {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    background-color: black;
    color: white;
}

#Landing h2 {
    color: white;
    background-color: black;
    margin: 0;
    padding-bottom: 24px;
}

#Landing .sub-header-wrapper {
    margin-bottom: 16px;
}

.btn-anchor {
    color: white;
    width: 20%;
    margin: 0 auto;
}

.btn {
    margin-top: 16px;
    color: white;
    padding: 16px 0;
    margin: 0 auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
}

.btn:hover {
    background-color: white;
    color: Black;
}

.btn-text {
    margin: 8px
}

/* MAIN ----------------------------- SKILLS */

#Skills {
    background-color: white;
    color: black;
}

.skills-header {
    margin: 24px 0 16px 16px;
    margin-top: 50px;
    margin-bottom: 24px;
    padding-right: 0px
}

li {
    font-style: inherit;
    list-style-type: none;
}

.skills-sub-header {
    margin: 16px 0 16px 16px;
    font-size: 24px;
}

.skill-list {
    margin-left: 16px;
    padding: 0;
}

/* MAIN ------------------------------------ RESUME */

#Resume {
    padding: 0;
    background-color: black;
}

.resume-wrapper{
    margin: 75px 0;
}

.resume-anchor {
    color: white;
    width: 20%;
    margin: 0 auto;
}

.resume-link {
    padding: 16px 0;
    margin: 0 auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
}

.resume-link:hover {
    background-color: white;
    color: Black;
}

/* MAIN -------------------------------------------------------- CONTACT */

#Contact {
    background-color: black;
}

.contact-header {
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 24px 0 0 0;
    border-top: 1px solid gray;
}

.form-style {
    width: 50%;
    margin: 0 auto;
}

.form-label {
    margin: 0 auto;
    align-content: center;
    display: block;
}

.button-wrapper {
    text-align: center;
}

.submit-btn {
    color: black;
    background-color: white;
}

.submit-btn:hover {
    background-color: rgb(201, 201, 201);
    color: black;
}

.submit-btn:active {
    color: black;
    background-color: white;
}

.error-text {
    color: red;
    text-align: center;
}

/* Main ---------------------------------------------------------FOOTER */

.icon-wrapper {
    padding: 8px;
    height: 64px;
}

/* MEDIA */

/* MEDIA-------------------------------------------------NAVBAR*/
@media screen and (max-width: 550) {
    .offcanvas-body {
        color: black;
    }

    .nav-color-shift {
        color: black;
    }
    
    .nav-item {
        color: black;
    }
    
    .nav-link {
        color: black;
    }
}

/* MEDIA ------------------------------------------HOME */

@media screen and (max-width: 680) {
    .icon-div {
        display: none;
    }

    .page-icon {
        display: none;
    }
}



/* MEDIA ------------------------------------------ABOUT */

@media screen and (max-width: 992px) {
    .about-content {
        margin-bottom: 50px;
        width: 80%;
    }
}

/* MAIN --------------------------------------------PROJECTS */

@media screen and (max-width: 992px) {
    .projects-header {
        margin-top: 80px;
    }
}

@media screen and (max-width: 680px) {
    .projects-header {
        margin-top: 150px;
    }
}

@media screen and (max-width: 480px) {
    .projects-header {
        margin-top: 375px;
    }
}