a {
    text-decoration: none;
}

.header-home {
    text-decoration: none;
    color: white;
    font-size: 40px;
}

.icon-top-bar {
    background: url('../../assets/logo.png');
    height: 40px;
    width: 40px;
    display: block;
    margin: 0 auto;
    /* Other styles here */
}