#About {
    margin-top: 150px;
    background-color: white;
    color: black;
    height: 300px;
    width: 100%
}

.about-container {
    padding: 24px 0;
}

.profilePic {
    height: 320px;
    border-radius: 5px;
    margin: 0 auto;
}

.tech-list {
    list-style-type: none;
}

.about-margin {
    margin: 0 16px;
}

.about-header {
    margin-top: 50px;
    margin-bottom: 24px;
}

@media screen and (max-width: 992px) {
    .about-content {
        margin-bottom: 50px;
        width: 80%;
    }
}