.navbar {
    background-color: black;
    height: 10%;
}

.nav-bar--hidden {
    background-color: rgba(0,0,0,0.5);
    color: 	rgba(255,255,255, 1);
}

.nav-link {
    color: inherit;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 550) {
    .offcanvas-body {
        color: black;
    }

    .nav-color-shift {
        color: black;
    }
    
    .nav-item {
        color: black;
    }
    
    .nav-link {
        color: black;
    }

}