
.contact-header {
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 24px 0 0 0;
    border-top: 1px solid gray;
}

.form-style {
    width: 50%;
    margin: 0 auto;
}

.form-label {
    margin: 0 auto;
    align-content: center;
    display: block;
}

.button-wrapper {
    text-align: center;
}

.submit-btn {
    color: black;
    background-color: white;
}

.submit-btn:hover {
    background-color: rgb(201, 201, 201);
    color: black;
}

.submit-btn:active {
    color: black;
    background-color: white;
}

.error-text {
    color: red;
    text-align: center;
}