#Project {
    background-color: white;
    color: black;
    padding: 0;
}

.projects-header {
    width: 100px;
    margin: 0 0 0 16px;
}

.projects-header-wrapper {
    width: 90%;
}

.header-wrapper {
    background-color: white;
}

.card-wrapper {
    width: 90%;
}

.project-card {
    width: 25%;
    margin: 16px;
}

h2 {
    color: black;
}

.project-link {
    color: inherit;
}